//
// PluginsAPI.swift
//
// Generated by swagger-codegen
// https://github.com/swagger-api/swagger-codegen
//

import Foundation
import Alamofire


open class PluginsAPI {
    /**
     Get emoticons

     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func getEmoticons(completion: @escaping ((_ data: CloudEmoticonRepo?,_ error: Error?) -> Void)) {
        getEmoticonsWithRequestBuilder().execute { (response, error) -> Void in
            completion(response?.body, error)
        }
    }


    /**
     Get emoticons
     - GET /plugin/cloudemoticon/emoticons
     - 

     - :
       - type: http
       - name: bearer
     - examples: [{contentType=application/json, example={
  "information" : [ "KTachibana", "https://ktachibana.party/cloudemoticon/default.json" ],
  "categories" : [ {
    "entries" : [ {
      "description" : "ことり",
      "emoticon" : "(・8・)"
    }, {
      "description" : "ことり",
      "emoticon" : "(・8・)"
    } ],
    "name" : "G+都亡了"
  }, {
    "entries" : [ {
      "description" : "ことり",
      "emoticon" : "(・8・)"
    }, {
      "description" : "ことり",
      "emoticon" : "(・8・)"
    } ],
    "name" : "G+都亡了"
  } ]
}}]

     - returns: RequestBuilder<CloudEmoticonRepo> 
     */
    open class func getEmoticonsWithRequestBuilder() -> RequestBuilder<CloudEmoticonRepo> {
        let path = "/plugin/cloudemoticon/emoticons"
        let URLString = PillCityAPI.basePath + path
        let parameters: [String:Any]? = nil
        let url = URLComponents(string: URLString)


        let requestBuilder: RequestBuilder<CloudEmoticonRepo>.Type = PillCityAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: (url?.string ?? URLString), parameters: parameters, isBody: false)
    }
}
